@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    transform: translateY(-8rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(10rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(8rem); }
  100% {
    transform: translate(0); } }

:root {
  --color-violet: hsl(257, 40%, 49%); }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (max-width: 1150px) {
    html {
      font-size: 45%; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../img/bg-desktop.svg), var(--color-violet);
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    body {
      background: url(../img/bg-mobile.svg), var(--color-violet);
      background-size: cover;
      overflow: auto; } }

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20vh;
  padding-left: 7rem; }
  @media only screen and (max-width: 800px) {
    header {
      height: 15rem; } }
  header svg {
    width: 23rem;
    animation: fadeIn 1s, moveInRight 1s; }

main {
  display: flex;
  align-items: center;
  height: 65vh; }
  @media only screen and (max-width: 800px) {
    main {
      flex-direction: column;
      height: min-content; } }
  main .illustration {
    display: flex;
    justify-content: flex-end;
    width: 53%; }
    @media only screen and (max-width: 800px) {
      main .illustration {
        justify-content: center;
        width: 100%;
        padding: 4rem 0; } }
    main .illustration svg {
      width: 85%;
      margin-top: 5rem;
      margin-right: 2rem;
      animation: fadeIn 1s, moveInBottom 1s; }
      @media only screen and (max-width: 800px) {
        main .illustration svg {
          width: 80%;
          height: 100%;
          margin: 0; } }
  main .content {
    width: 45%;
    padding: 8rem;
    animation: fadeIn 1s, moveInTop 1s; }
    @media only screen and (max-width: 800px) {
      main .content {
        width: 80%;
        padding: 0;
        text-align: center; } }
    main .content h1 {
      margin-bottom: 2rem;
      font-family: 'Poppins', sans-serif;
      font-size: 4.2rem;
      font-weight: 500; }
      @media only screen and (max-width: 900px) {
        main .content h1 {
          font-size: 3.6rem; } }
      @media only screen and (max-width: 450px) {
        main .content h1 {
          font-size: 3rem; } }
    main .content p {
      margin-bottom: 3rem;
      font-size: 1.8rem; }
    main .content button {
      padding: 1.8rem 6.8rem;
      border: none;
      border-radius: 10rem;
      box-shadow: 3px 3px 20px rgba(1, 1, 1, 0.3);
      color: var(--color-violet);
      font-size: 2rem;
      font-weight: 300;
      cursor: pointer;
      outline: none;
      transition: all .1s; }
      main .content button:hover {
        background-color: #dfdfdf;
        transform: translateY(-0.2rem); }
      main .content button:active {
        background-color: #b9b9b9;
        transform: translate(0); }

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  padding: 4rem 7rem; }
  @media only screen and (max-width: 800px) {
    footer {
      justify-content: center;
      height: 15rem; } }
  footer .attribution {
    margin-right: auto;
    font-size: 11px; }
    @media only screen and (max-width: 800px) {
      footer .attribution {
        display: none; } }
    footer .attribution a {
      color: #ffd8c2; }
  footer svg {
    height: 4.2rem;
    width: 4.2rem;
    margin-right: 1.6rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    fill: white;
    animation: fadeIn 1s, moveInLeft 1s; }
